.ActionsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    max-width: 350px;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
}
.ActionsContainer__action {
    margin-bottom: 12px;
}
.ActionsContainer__action:last-of-type {
    margin-bottom: 0;
}
